.center{
    text-align: center;
    margin: 5px;
}

.link{
    color: dodgerblue;
    text-decoration: underline;
    text-decoration-color: dodgerblue;
}

.paragraph{
    text-align: justify;
    margin: 10px auto 15px;
    max-width: 800px;
}

.hr{
    height: 2px;
    margin: 20px 10%;
}

.descriptorcontainer{
    padding: 0 10px;
}

.descriptor{
    margin: 20px auto;
    background-color: white;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 4px 8px;
    border-radius: 5px;
    max-width: 900px;
}

.flexaround0{
    display: flex;
    flex-wrap: wrap;
}

.flexaround1{
    display: flex;
    flex-flow: row-reverse wrap;
}

