.linktext{
  margin: 10px;
  font-size: 1.1em;
}

.resemblelink{
  color: dodgerblue;
  text-decoration: underline;
  text-decoration-color: dodgerblue;
  font-family: "STIX Two Math", serif;
  cursor: pointer;
}

.rule{
  width: 80%;
  margin: 10px auto 15px;
}

.mainlink{
  font-size: 1.5em;
  font-weight: bold;
}