.bg{
    position: fixed;
    z-index: -2;
    right: -200px;
    top: -200px;
    bottom: -200px;
    left: -200px;
    background-color: antiquewhite;
}

.bgdark{
    position: fixed;
    z-index: -1;
    right: -200px;
    top: -200px;
    bottom: -200px;
    left: -200px;
    background-color: #000;
}
