.wrapper{
    display: block;
    text-align: center;
}

.multipleitems{
    display: flex;
    max-width: 400px;
    justify-content: center;
    margin: 0 auto;
}

.icons{
    margin: 10px 10px 0 10px;
    height: 25px;
}