.wrapper{
    position: sticky;
    top: 0;
    z-index: 6;
    width: 100%;
    padding: 10px 0 1px;
    background-color: antiquewhite;
}

.navbarmain{
    display: flex;
    /* background-color: #9C528B; */
    background-image: linear-gradient(#9C528B 70%, #6b375f);
    color: antiquewhite;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    margin: 0 auto;
}

.links{
    display: inline-flex;
    justify-content: space-around;
    width: 300px;
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

.navlink{
    display: inline;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    color: antiquewhite;
}

.navlink:hover{
    display: inline;
    padding: 10px;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #9C528B;
}

.navlinkwithsubmenu{
    display: inline-block;
    position: relative;
    padding: 0;
    margin-top: 10px;
}

.submenu{
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    text-align: left;
}

.submenu p{
    background-color: #9C528B;
    text-align: left;
    padding: 15px;
    border-left: 1px solid antiquewhite;
    border-right: 1px solid antiquewhite;
}

.submenu p a{
    color: antiquewhite;
    padding: 0;
    margin-left: 10px;
    text-decoration: none;
    display: block;
}

.submenu p:first-child{
    background-image: linear-gradient(#9C528B 70%, #6b375f);
    display: inline-block;
    border: none;
}

.submenu p:last-child{
    background-image: linear-gradient(#9C528B 70%, #6b375f);
    border-radius: 0 0 10px 10px;
    border-bottom: 1px solid antiquewhite;
}

.submenu p a:hover{
    display: inline;
    padding: 10px;
    margin-left: 0px;
    border-radius: 10px;
    background-color: antiquewhite;
    color: #9C528B;
}

.navlinkwithsubmenu:hover .submenu{
    display: block;
    margin-top: -34px;
    margin-left: -15px;
}